//
//  Debug-Uat.xcconfig
//  Runner
//
//  Created by Vincent li on 24/1/2019.
//  Copyright © 2019 The Chromium Authors. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Generated.xcconfig"
FLUTTER_TARGET=/Users/vincent/Documents/Github/flutter/flutter_lab/lib/flavors/main-uat.dart
